* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'open-sans', sans-serif;
}

body {
  background-color: #2ec5fa;
}

body .container {
  width: 350px;
  height: auto;
  background-color: #fff;
  padding: 60px 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

body .container h2, body .container h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 700;
  color: #2ec5fa;
}

body .container h3 {
  font-size: 16px;
  color: #000;
}

body .container .form-wrapper .input_field {
  margin-bottom: 10px;
  position: relative;
}

body .container .form-wrapper .input_field input {
  width: 100%;
  padding: 12px 0 12px 30px;
  border: none;
  background: #eee;
}

body .container .form-wrapper .input_field i {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 14px;
  color: #1d2120;
}

body .container .form-wrapper .button {
  text-align: center;
  background-color: #2ec5fa;
  width: 70%;
  margin: 20px auto 0;
  padding: 12px;
  border-radius: 25px;
  opacity: 0.6;
}

body .container .form-wrapper .button:hover {
  opacity: 1;
  transition: 1.5s;
}

body .container .form-wrapper .button a {
  color: #fff;
  text-decoration: none;
}

body .container .form-wrapper .button a:hover {
  font-weight: bold;
}

body .container .form-wrapper .message-container {
  margin: 20px 0;
  text-align: center;
}

body .container .form-wrapper .message-container a {
  color: #2ec5fa;
  text-decoration: none;
}

body .container .form-wrapper .message-container a:hover {
  font-weight: bold;
}
